.App {
  text-align: center;
}
.Login-header {
  position: absolute;
}
.main-header {
  display: flex;
  justify-content: space-between;
}
.login-form {
  position: absolute;
  margin-top: 200px;
  margin-left: 600px;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  border-radius: 5px;
  text-align: center;
}
.login-form-input {
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(66, 66, 78);
}
.login-form-btn {
  width: 170px;
  margin: 50px;
  border-radius: 5px;
  background-color: red;
  font-weight: 600;
  cursor: pointer;
}
.form-message {
  color: red;
}
.signout-btn {
  background-color: red;
  height: 20px;
  padding: 20px;
  cursor: pointer;
}
.user-sign-out {
  display: flex;
}
.movie-title-play-btn {
  background-color: gray;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
}
.movie-title-play-btn:hover {
  cursor: pointer;
}
.movie-title-info-btn {
  background-color: gray;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.movie-title {
  font-weight: 1000;
  font-size: xx-large;
}
.movie-overview {
  font-weight: 400;
}
.movie-description-container {
  width: 500px;
  margin: 40px;
  position: absolute;
  color: white;
  padding-top: 250px;
}
.trailer-video-bg {
  min-width: 100%;
  height: 700px;
}
